In [208]:
import sys
import datetime

import pandas as pd
import geopandas as gpd
import basedosdados as bd
from sqlalchemy import create_engine
import psycopg2
import r5py
from r5py import TransitMode, LegMode
from shapely import wkt


sys.argv.append(["--max-memory", "8G"])

In [2]:
con = create_engine("postgresql://root:root@0.0.0.0:5432/root").connect()

In [188]:
def get_origins(id_municipio):

    bd.config.billing_project_id = 'rj-escritorio-dev'

    origins = bd.read_sql(
        f"""
        with t as (
            SELECT 
                t1.geometria h3_geometry, 
                st_centroid(t1.geometria) geometry,
                t2.nome bairro,
                row_number() over (partition by id_grid_h3 order by st_area(st_intersection(t1.geometria, t2.geometria))) larger_area,
                quantidade_pessoas
            FROM `basedosdados.br_ipea_acesso_oportunidades.estatisticas_2019` t1 
            JOIN `datario.dados_mestres.bairro` t2
            ON st_intersects(t1.geometria, t2.geometria)
            WHERE id_municipio = '{id_municipio}'
            AND quantidade_pessoas > 0 )
        select 
        row_number() over() id, * except(larger_area)
        from t
        where larger_area = 1
        """
    )

    origins['geometry'] = origins['geometry'].apply(wkt.loads)
    origins['h3_geometry'] = origins['h3_geometry'].apply(wkt.loads)
    return gpd.GeoDataFrame(origins)

def load_stations(station):
    station['name'] = station['bairro'].astype(str)
    station['direct_times_fetched'] = True
    station['longitude_e7'] = station['geometry'].apply(lambda x: int(x.x * 10000000)) 
    station['latitude_e7'] = station['geometry'].apply(lambda x: int(x.y * 10000000)) 

    station[['id', 'name', 'latitude_e7', 'longitude_e7', 'direct_times_fetched']].to_sql('stations', con, 'public', 'append', index=False,)

In [189]:
origins = get_origins(3304557)

Downloading: 100%|██████████| 6526/6526 [00:04<00:00, 1359.01rows/s]

In [190]:
load_stations(origins)

In [36]:
origins.head()

,id,h3_geometry,geometry,quantidade_pessoas
0,1,"POLYGON ((-43.1085123828968 -22.7627091790979,...",POINT (-43.10950 -22.76113),296
1,2,"POLYGON ((-43.1084388297524 -22.759602830159, ...",POINT (-43.10943 -22.75803),186
2,3,"POLYGON ((-43.1085859367572 -22.7658154169106,...",POINT (-43.10957 -22.76424),156
3,4,"POLYGON ((-43.1054777600329 -22.7643348287107,...",POINT (-43.10646 -22.76276),66
4,5,"POLYGON ((-43.1053306834771 -22.7581221271042,...",POINT (-43.10632 -22.75654),4

In [193]:
osm_path = 'data/osm-rj.osm.pbf'
gtfs_path = ["data/GTFS.zip", "data/gtfs_barca_metro_trem.zip", "data/gtfs_vlt.zip"]

transport_network = r5py.TransportNetwork(osm_path, gtfs_path)

In [194]:
travel_time_matrix = r5py.TravelTimeMatrixComputer(
        transport_network,
        origins=origins[['id', 'geometry']][:6548],
        destinations=origins[['id', 'geometry']],
        departure=datetime.datetime(2022,8,22,8,30),
        transport_modes=[TransitMode.TRANSIT, LegMode.WALK],
        max_time=datetime.timedelta(hours=2),
        max_time_walking=datetime.timedelta(minutes=30),
        max_public_transport_rides=2
    ).compute_travel_times()

        id                     geometry
0        1  POINT (-43.68629 -22.97615)
1        2  POINT (-43.68583 -22.95756)
2        3  POINT (-43.68598 -22.96376)
3        4  POINT (-43.60803 -22.91780)
4        5  POINT (-43.61667 -22.89430)
...    ...                          ...
6521  6522  POINT (-43.42376 -22.92262)
6522  6523  POINT (-43.52150 -23.02394)
6523  6524  POINT (-43.20349 -22.96532)
6524  6525  POINT (-43.17521 -22.93965)
6525  6526  POINT (-43.22518 -22.97255)

[6526 rows x 2 columns] <class 'geopandas.geodataframe.GeoDataFrame'>

In [196]:
%load_ext line_profiler

In [197]:
from shapely.geometry import mapping
import json

def load_isochrones(origins, travel_time_matrix):
    ttm = pd.merge(
        origins.rename(columns={'geometry': 'centroid_h3', 'h3_geometry': 'geometry', 'id': 'to_id'})[['geometry', 'to_id']],
        travel_time_matrix.dropna(), 
        left_on="to_id", right_on="to_id"
        )

    tempos = [30, 45, 60, 90, 120]

    isos = pd.concat([ttm[ttm['travel_time'] <= t].dissolve(['from_id']).assign(duration=t) for t in tempos])
    isos['geometry'] = isos['geometry'].apply(lambda x: json.dumps(mapping(x)))

    isos = isos.reset_index()[['from_id', 'geometry', 'duration']].rename(columns={'from_id': 'station_id'})

    isos[['station_id', 'duration', 'geometry']].to_sql('isochrones', con, 'public', 'replace', index=False)

In [198]:
%lprun -f load_isochrones load_isochrones(origins, travel_time_matrix)

*** KeyboardInterrupt exception caught in code being profiled.

Timer unit: 1e-06 s

Total time: 24.4531 s
File: /var/folders/d9/_9rrlqns6mb8xlw_314gg7480000gn/T/ipykernel_84937/1736139995.py
Function: load_isochrones at line 21

Line #      Hits         Time  Per Hit   % Time  Line Contents
==============================================================
    21                                           def load_isochrones(origins, travel_time_matrix):
    22         1   22657054.0 22657054.0     92.7      ttm = origins.merge(travel_time_matrix, left_on="id", right_on="to_id")
    23         1    1796031.0 1796031.0      7.3      ttm['geometry'] = ttm['h3_geometry']
    24                                               isos = ttm.iloc[:10].groupby(['from_id']).apply(gr)
    25                                               isos = isos.reset_index().drop('level_1', 1).rename(columns={'from_id': 'station_id'})
    26                                               isos['geometry'] = isos['geometry'].apply(lambda x: json.dumps(x))
    27
    28                                               # isos[['station_id', 'duration', 'geometry']].to_sql('isochrones', con, 'public', 'replace', index=False)

In [322]:
isos[['station_id', 'duration', 'geometry']].to_sql('isochrones', con, 'public', 'replace', index=False)

In [313]:
isos.query('station_id == 234')

,geometry,station_id,to_id,travel_time,duration
from_id,,,,,
550,"{""type"": ""MultiPolygon"", ""coordinates"": [[[[-4...",234,234,25.0,30
2247,"{""type"": ""Polygon"", ""coordinates"": [[[-43.6074...",234,234,20.0,30
5445,"{""type"": ""Polygon"", ""coordinates"": [[[-43.6074...",234,234,21.0,30

In [321]:
sos.query('station_id == 6000'))

pandas.core.frame.DataFrame